/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
    padding: 30px;
    background-color: #7A0019;
}

#main-title{
    color: #FFDE7A;
    font-family: monospace;
    text-align: center;
    font-size: 4rem
}

h2 {
    font-family: sans-serif
}

.section {
    border-radius: 25px;
    padding: 20px;
    border: 5px solid;
    margin: 10px;
    max-width: 870px;
}

#courses {
    background-color: #FFDE7A;
}

#pslo {
    background-color: #d5d6d2;
}

#faculty {
    background-color: #f9f7f6
}

#faculty>ul>li {
    display: inline-block;
    font-family: sans-serif;
    padding: 30px;
}

#faculty-list {
    padding-left: 0
}

img.pic {
    height: 150px;
    border: 4px solid #000000;
}

#style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#style li {
    float: left; /*explore what happens if this is 'right' instead*/
}

#style li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /*this adds some spacing around the items in our style footer*/
    text-decoration: none;
}

/* Change the link color to #000 (black) on hover */
#style li a:hover {
    background-color: #000;
}

#style {
    position: fixed;
    background-color: #7A0019;;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    padding-top: 10px;
}

#validation {
  font-size: 60%;
  background-color: #d5d6d2;
}
